//- mixin for using SVG's from SVG-sprite
//- to use this mixin in your .pug's insert next line with correct params:
//- +svgSpriteIcon('name', width, height, 'BEMclass', 'title')
mixin svgSpriteIcon(name, width, height, BEMclass, title)
  svg(class="sprite sprite__" + name + " " + BEMclass, width=width, height=height)
    title= title
    use(href="img/sprite/sprite.svg#" + name)

mixin catalogItem(imgNumber, itemName, volume, taste, price)
  li.catalog__item
    picture
      source(
        media='(min-width: 1200px)',
        srcset=`/img/content_img/catalog-${imgNumber}-desktop.webp`,
        type='image/webp'
      )
      source(
        media='(min-width: 1200px)',
        srcset=`/img/content_img/catalog-${imgNumber}-desktop.png`
      )
      source(
        media='(min-width: 768px)',
        srcset=`/img/content_img/catalog-${imgNumber}-tablet.webp`,
        type='image/webp'
      )
      source(
        media='(min-width: 768px)',
        srcset=`/img/content_img/catalog-${imgNumber}-tablet.png`
      )
      source(
        srcset=`/img/content_img/catalog-${imgNumber}-mobile.webp`,
        type='image/webp'
      )
      img.page-header__logo(
        src=`/img/content_img/catalog-${imgNumber}-mobile.jpg`,
        width='140',
        height='144',
        alt='Изображение продукта'
      )
    h3.catalog__item-name= `Cat Energy ${itemName}`
    table.catalog__item-table
      tr
        td Объём
        td= `${volume} г`
      tr
        td Вкус
        td= taste
      tr
        td Цена
        td= `${price} Р.`
    button.button.catalog__button.catalog__button--order
      | Заказать
