//- add page header
mixin pageHeader(pageId)
  header.page-header
    .page-header__wrapper
      picture.page-header__logo--picture
        source(
          media='(min-width: 1200px)',
          srcset='/img/content_svg/logo_desktop.svg'
        )
        source(
          media='(min-width: 768px)',
          srcset='/img/content_svg/logo_tablet.svg'
        )
        img.page-header__logo(
          src='/img/content_svg/logo_mobile_text.svg',
          width='101',
          height='18',
          alt='Логотип Cat Energy'
        )
      button.main-nav__toggle(type='button')
        span.visually-hidden Открыть меню
      nav.page-header__main-nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
          if pageId === 'indexPage'
            li.main-nav__item.main-nav__item--current-page
              a.main-nav__link Главная
          else
            li.main-nav__item.main-nav__item
              a.main-nav__link(href='index.html') Главная

          if pageId === 'catalogPage'
            li.main-nav__item.main-nav__item--current-page
              a.main-nav__link Каталог продукции
          else
            li.main-nav__item
              a.main-nav__link(href='catalog.html') Каталог продукции

          if pageId === 'formPage'
            li.main-nav__item.main-nav__item--current-page
              a.main-nav__link Подбор программы
          else
            li.main-nav__item
              a.main-nav__link(href='form.html') Подбор программы
//- +pageHeader(js_page_id)

//- to include SVG's from SVG-sprite
mixin svgSpriteIcon(name, width, height, BEMclass, title)
  svg(class="sprite sprite__" + name + " " + BEMclass, width=width, height=height)
    title= title
    use(href="img/sprite/sprite.svg#" + name)
//- +svgSpriteIcon('name', width, height, 'BEMclass', 'title')

//- create new item in catalog__list
mixin catalogItem(imgNumber, name, volume, taste, price)
  li.catalog__item
    picture
      source(
        media='(min-width: 1200px)',
        srcset=`/img/content_img/catalog-${imgNumber}-desktop.webp`,
        type='image/webp'
      )
      source(
        media='(min-width: 1200px)',
        srcset=`/img/content_img/catalog-${imgNumber}-desktop.png`
      )
      source(
        media='(min-width: 768px)',
        srcset=`/img/content_img/catalog-${imgNumber}-tablet.webp`,
        type='image/webp'
      )
      source(
        media='(min-width: 768px)',
        srcset=`/img/content_img/catalog-${imgNumber}-tablet.png`
      )
      source(
        srcset=`/img/content_img/catalog-${imgNumber}-mobile.webp`,
        type='image/webp'
      )
      img.page-header__logo(
        src=`/img/content_img/catalog-${imgNumber}-mobile.jpg`,
        width='140',
        height='144',
        alt='Изображение продукта'
      )
    h3.catalog__item-name= `Cat Energy ${name}`
    table.catalog__item-table
      tr
        td Объём
        td= `${volume} г`
      tr
        td Вкус
        td= taste
      tr
        td Цена
        td= `${price} Р.`
    button.button.catalog__button.catalog__button--order
      | Заказать
//- +catalogItem(imgNumber, 'Name', volume, 'taste', price)

//- create new item in additional__list
mixin additionalItem(name, volume, price)
  li.additional__item
    h3.additional__item-name= name
    table.additional__item-table
      tr
        td= volume
        td= `${price} Р.`
    button.button.additional__button
      | Заказать
//- +additionalItem('name', 'volume', price)
