footer.page-footer
  .page-footer__wrapper
    section.page-footer__contacts.contacts
      .contacts__container
        .contacts__text-container
          h2.contacts__title
            | Приглашаем к сотрудничеству дилеров!
          p.contacts__text
            | Ул. Большая Конюшенная, д. 19/8 Санкт-Петербург

        .contacts__map-container
          iframe.contacts__map-interactive(
            src='https://yandex.com/map-widget/v1/-/CCQ~mTtr8C',
            width='320',
            height='400',
            frameborder='1',
            allowfullscreen='true',
            style='position:relative;'
          )
            picture
              source(
                media='(min-width: 1200px)',
                srcset='/img/content_img/map_desktop.jpg'
              )
              source(
                media='(min-width: 1200px)',
                srcset='/img/content_img/map_desktop.webp',
                type='image/webp'
              )
              source(
                media='(min-width: 768px)',
                srcset='/img/content_img/map_tablet.jpg'
              )
              source(
                media='(min-width: 768px)',
                srcset='/img/content_img/map_tablet.webp',
                type='image/webp'
              )
              source(
                srcset='/img/content_img/map_mobile.webp',
                type='image/webp'
              )
              img.contacts__map-fallback-img(
                src='/img/content_img/map_mobile.jpg',
                width='320',
                height='400',
                alt='Карта с местоположением нашего офиса'
              )

    section.page-footer__social.social
      a.social__main-page-link(href='index.html')
        img(
          src='/img/content_svg/logo_footer.svg',
          width='128',
          height='24',
          alt='Логотип Cat Energy'
        )

      ul.social__list
        li.social__item
          a.social__link(href='#')
            +svgSpriteIcon('icon_vk_mobile', 22, 12, 'social__icon--vk', 'Иконка Вконтакте')
        li.social__item
          a.social__link(href='#')
            +svgSpriteIcon('icon_instagram_mobile', 16, 16, 'social__icon--instagram', 'Иконка Инстаграмма')
        li.social__item
          a.social__link(href='#')
            +svgSpriteIcon('icon_facebook_mobile', 10, 19, 'social__icon--facebook', 'Иконка Фейсбука')

      a.social__copyright(href='#')
        p.social__copyright-text
          | HTML Academy
        +svgSpriteIcon('HTMLAcademy_logo_footer', 27, 34, 'ocial__copyright-icon', 'Логотип HTML Academy')
