extends templates/layout_default

block vars
  - var page_id_for_js = "js-form";
  - var page_title = "Подбор программы";
  - var page_decription = "Cat Enegry - функциональное питание для котов. Подбор программы питания.";
  - var page_keywords = "Cat Enegry, питание для котов, похудение, похудение для котов, Подбор программы";

block header
  header.page-header
    .page-header__wrapper
      picture.page-header__logo--picture
        source(
          media='(min-width: 1200px)',
          srcset='/img/content_svg/logo_desktop.svg'
        )
        source(
          media='(min-width: 768px)',
          srcset='/img/content_svg/logo_tablet.svg'
        )
        img.page-header__logo(
          src='/img/content_svg/logo_mobile_text.svg',
          width='101',
          height='18',
          alt='Логотип Cat Energy'
        )
      button.main-nav__toggle(type='button')
        span.visually-hidden Открыть меню
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list.main-nav__list--site.site-list
            li.site-list__item.site-list__item--current-page
              a.site-list__link(href='index.html') Главная
            li.site-list__item.site-list__item--current-page
              a.site-list__link(href='catalog.html') Каталог продукции
            li.site-list__item
              a.site-list__link Подбор программы

block content
  main.page-main
    .page-main__wrapper
      h1.page-main__title
        | Подбор программы

      section.program
        h2.visually-hidden
          | Анкета выбора программы питания
        p.program__title
          | Заполните анкету и мы подберём программу питания для вашего кота
        form.program__form
          fieldset.program__fieldset.program__fieldset--cat-info
            legend.visually-hidden
              | Имя, вес и возраст кота
            ul.program__fieldset-list
              li.program__fieldset-list-item
                label(for='catName') Имя:*
                input#catName.program__form--input(
                  type='text',
                  name='catName',
                  placeholder='Барсик',
                  required,
                  autocomplete='on',
                  autofocus
                )
              li.program__fieldset-list-item
                label(for='catWeight') Вес (Кг):*
                input#catWeight.program__form--input(
                  type='text',
                  name='catWeight',
                  placeholder='7',
                  required,
                  autocomplete='on'
                )
              li.program__fieldset-list-item
                label(for='client-surname') Возраст (Лет)
                input#catWeight.program__form--input(
                  type='text',
                  name='catWeight',
                  placeholder='7',
                  autocomplete='on'
                )

          fieldset.program__fieldset.program__fieldset--program-selection
            legend.visually-hidden
              | Выбор программы питания
            ul.program__fieldset-list
              li.program__fieldset-list-item
                input#weightLoss.visually-hidden-not-focusable(
                  type='radio',
                  name='programSelection',
                  required
                )
                label.program__program-selection-label(for='weightLoss') Похудение

              li.program__fieldset-list-item
                input#weigthGain.visually-hidden-not-focusable(
                  type='radio',
                  name='programSelection',
                  required
                )
                label.program__program-selection-label(for='weigthGain') Набор массы
              li.program__fieldset-list-item
                input#weightDunno.visually-hidden-not-focusable(
                  type='radio',
                  name='programSelection',
                  required
                )
                label.program__program-selection-label(for='weightDunno') Не знаю (нужен ваш совет)

          fieldset.program__fieldset.program__fieldset--contact-info
            legend.program__fieldset-legend
              | Контактные данные (владельца кота)
            ul.program__fieldset-list
              li.program__fieldset-list-item
                label(for='catName') E-Mail:*
                input#catName.program__form--input(
                  type='email',
                  name='email',
                  placeholder='kuklachev@gmail.com',
                  required,
                  autocomplete='on'
                )
              li.program__fieldset-list-item
                label(for='catName') Телефон:*
                input#catName.program__form--input(
                  type='email',
                  name='email',
                  placeholder='kuklachev@gmail.com',
                  required,
                  autocomplete='on'
                )

          fieldset.program__fieldset.program__fieldset--additional-comment
            legend.program__fieldset-legend
              | Комментарий
            textarea#catAdditionalInfo.program__textarea(
              name='catAdditionalInfo',
              placeholder='Расскажите обо всех повадках кота',
              cols='30',
              rows='7'
            )

          fieldset.program__fieldset.program__fieldset--additional-items
            legend.program__fieldset-legend
              | Дополнительно
            ul.program__fieldset-list
              li.program__fieldset-list-item
                input#sweetener.visually-hidden-not-focusable(
                  type='checkbox',
                  name='sweetener'
                )
                label.program__additional-item-label(for='sweetener') Сахарозаменитель
              li.program__fieldset-list-item
                input#water.visually-hidden-not-focusable(
                  type='checkbox',
                  name='water'
                )
                label.program__additional-item-label(for='water') Питьевая вода
              li.program__fieldset-list-item
                input#milk.visually-hidden-not-focusable(
                  type='checkbox',
                  name='milk'
                )
                label.program__additional-item-label(for='milk') Молоко
              li.program__fieldset-list-item
                input#vitamins.visually-hidden-not-focusable(
                  type='checkbox',
                  name='vitamins'
                )
                label.program__additional-item-label(for='vitamins') Витамины

          .program__submit-button-container
            button.button.program__submit-button(type='submit')
              | Отправить заявку
            span.program__submit-button-legend
              | * &mdash; Обязательные поля
