extends templates/layout_default

block vars
  - var js_page_id = "js-indexPage";
  - var page_title = "Cat Energy";
  - var page_decription = "Cat Enegry - функциональное питание для котов. Занялся собой? Займись котом!";
  - var page_keywords = "Cat Enegry, питание для котов, похудение, похудение для котов";

block header
  +pageHeader(js_page_id)

block content
  main.page-main
    .page-main__wrapper
      section.page-main__main-info.main-info
        .main-info__wrapper
          .main-info__text-container(role='presentation')
            h1.main-info__title
              | Функциональное питание для котов
            p.main-info__title-text Занялся собой? Займись котом!
          a.main-info__image-link(href='#')
            picture
              source(
                media='(min-width: 1440px)',
                srcset='/img/content_img/index_can_desktop.webp',
                type='image/webp'
              )
              source(
                media='(min-width: 1440px)',
                srcset='/img/content_img/index_can_desktop.png'
              )
              source(
                media='(min-width: 768px)',
                srcset='/img/content_img/index_can_tablet.webp',
                type='image/webp'
              )
              source(
                media='(min-width: 768px)',
                srcset='/img/content_img/index_can_tablet.png'
              )
              source(
                srcset='/img/content_img/index_can_mobile.webp',
                type='image/webp'
              )
              img.main-info__image(
                src='/img/content_img/index_can_mobile.png',
                width='280',
                height='270',
                alt='Изображение упаковки Cat Energy Pro 500 грамм'
              )
          a.button.main-info__button(href='#') Подобрать программу

      section.page-main__services.services
        .services__wrapper
          h2.visually-hidden Услуги
          ul.services__list
            li.services__item
              h3.services__title.services__title--slim Похудение
              p.services__text
                | Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
              a.services__link(href='#') Каталог Slim
            li.services__item
              h3.services__title.services__title--mass Набор массы
              p.services__text
                | Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
              a.services__link(href='#') Каталог Pro

      section.page-main__advantages.advantages
        .advantages__wrapper
          h2.advantages__title Как это работает
          ul.advantages__list
            li.advantages__item
              p.advantages__text
                | Функциональное питание содержит только полезные питательные вещества.
            li.advantages__item
              p.advantages__text
                | Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
            li.advantages__item
              p.advantages__text
                | Замените один-два приёма обычной еды на наше функциональное питание.
            li.advantages__item
              p.advantages__text
                | Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!

      section.page-main__comparison.comparison
        .comparison__wrapper
          h2.comparison__title Живой пример
          p.comparison__text
          | Борис сбросил 5кг за 2 месяца, просто заменим свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
          ul.comparison__stats-list
            li.comparison__stats-item 5 Кг
              p.comparison__stats-text снижение веса
            li.comparison__stats-item 60 Дней
              p.comparison__stats-text затрачено времени
          p.comparison__cost Затраты на питание: 15 000 Руб.

          //- I'll start with a simple radio switch and will change it to range slider later, after finishing most of the project
          picture.page-header__logo--picture
            source(
              media='(min-width: 768px)',
              srcset='/img/content_img/before_desktop_and_tablet.webp',
              type='image/webp'
            )
            source(
              media='(min-width: 768px)',
              srcset='/img/content_img/before_desktop_and_tablet.png'
            )
            source(
              srcset='/img/content_img/before_mobile.webp',
              type='image/webp'
            )
            img.page-header__logo(
              src='/img/content_img/before_mobile.jpg',
              width='311',
              height='232',
              alt='Фотография кота до начала использования функционального питания Cat Energy Slim'
            )
            form.page-header__form
              label.page-header__label(for='cat_before') Было
              input#cat_before.page-header__range-input.visually-hidden-not-focusable(
                type='radio',
                name='cat_comparisson',
                checked
              )
              label.page-header__label(for='cat_after') Стало
              input#cat_after.page-header__range-input.visually-hidden-not-focusable(
                type='radio',
                name='cat_comparisson'
              )
