- var page_language = "ru";
- var external_font = "Oswald-Regular";

include mixins
block vars

doctype html
html(lang=page_language)
  head
    meta(charset='UTF-8')
    meta(name='description', content=page_decription)
    meta(name='keywords', content=page_keywords)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(
      rel='preload',
      href=`./fonts/${external_font}.woff2`,
      as='font',
      crossorigin='anonymous'
    )
    link(rel='preload', href='./css/style.min.css', as='style')
    link(rel='preload', href='./js/script.min.js', as='script')

    link(rel='stylesheet', href='./css/style.min.css')

    //- Favicon code, from favicomatic.com. Always check and correct file paths after copying code from this site
    link(
      rel='apple-touch-icon-precomposed',
      sizes='57x57',
      href='./img/favicon/apple-touch-icon-57x57.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='114x114',
      href='./img/favicon/apple-touch-icon-114x114.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='72x72',
      href='./img/favicon/apple-touch-icon-72x72.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='144x144',
      href='./img/favicon/apple-touch-icon-144x144.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='120x120',
      href='img/apple-touch-icon-120x120.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='152x152',
      href='./img/favicon/apple-touch-icon-152x152.png'
    )
    link(
      rel='icon',
      type='image/png',
      href='./img/favicon/favicon-32x32.png',
      sizes='32x32'
    )
    link(
      rel='icon',
      type='image/png',
      href='./img/favicon/favicon-16x16.png',
      sizes='16x16'
    )
    meta(name='application-name', content=' ')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='mstile-144x144.png')

    title= page_title

  body
    block header

    block content

    block footer

    script(src='./js/script.min.js')
