//- add page header
//- +pageHeader(js_page_id)
mixin pageHeader(pageId)
  if pageId == 'js-indexPage'
    header.page-header(id=pageId)
      .page-header__wrapper
        a.page-header__logo-link-mobile-only(href='index.html')
          img.page-header__logo-mobile-only(
            src='/img/content_svg/logo_mobile.svg',
            width='33',
            height='38',
            alt='Малый логотип Cat Energy'
          )
        a.page-header__logo-link(href='index.html')
          picture
            source(
              media='(min-width: 1440px)',
              srcset='/img/content_svg/logo_desktop.svg'
            )
            source(
              media='(min-width: 768px)',
              srcset='/img/content_svg/logo_tablet.svg'
            )
            img.page-header__logo(
              src='/img/content_svg/logo_mobile_text.svg',
              width='101',
              height='18',
              alt='Логотип Cat Energy'
            )
        button.page-header__nav-toggle(type='button')
          span.visually-hidden Открыть меню
          +svgSpriteIcon('hamburger_open', 24, 18, 'page-header__hamburger', 'иконка открытия меню')

        nav.page-header__main-nav.main-nav.main-nav--closed.main-nav--no-js.main-nav--index-page
          .main-nav__wrapper
            ul.main-nav__list
              if pageId === 'js-indexPage'
                li.main-nav__item.main-nav__item--index-page.main-nav__item--current-page
                  a.main-nav__link Главная
              else
                li.main-nav__item.main-nav__item--index-page
                  a.main-nav__link(href='index.html') Главная

              if pageId === 'js-catalogPage'
                li.main-nav__item.main-nav__item--catalog-page.main-nav__item--current-page
                  a.main-nav__link Каталог продукции
              else
                li.main-nav__item.main-nav__item--catalog-page
                  a.main-nav__link(href='catalog.html') Каталог продукции

              if pageId === 'js-formPage'
                li.main-nav__item.main-nav__item--form-page.main-nav__item--current-page
                  a.main-nav__link Подбор программы
              else
                li.main-nav__item.main-nav__item--form-page
                  a.main-nav__link(href='form.html') Подбор программы
  else
    header.page-header(id=pageId)
      .page-header__wrapper
        a.page-header__logo-link-mobile-only(href='index.html')
          img.page-header__logo-mobile-only(
            src='/img/content_svg/logo_mobile.svg',
            width='33',
            height='38',
            alt='Малый логотип Cat Energy'
          )
        a.page-header__logo-link(href='index.html')
          picture
            source(
              media='(min-width: 1440px)',
              srcset='/img/content_svg/logo_desktop.svg'
            )
            source(
              media='(min-width: 768px)',
              srcset='/img/content_svg/logo_tablet.svg'
            )
            img.page-header__logo(
              src='/img/content_svg/logo_mobile_text.svg',
              width='101',
              height='18',
              alt='Логотип Cat Energy'
            )
        button.page-header__nav-toggle(type='button')
          span.visually-hidden Открыть меню
          +svgSpriteIcon('hamburger_open', 24, 18, 'page-header__hamburger', 'иконка открытия меню')

        nav.page-header__main-nav.main-nav.main-nav--closed.main-nav--no-js
          .main-nav__wrapper
            ul.main-nav__list
              if pageId === 'js-indexPage'
                li.main-nav__item.main-nav__item--index-page.main-nav__item--current-page
                  a.main-nav__link Главная
              else
                li.main-nav__item.main-nav__item--index-page
                  a.main-nav__link(href='index.html') Главная

              if pageId === 'js-catalogPage'
                li.main-nav__item.main-nav__item--catalog-page.main-nav__item--current-page
                  a.main-nav__link Каталог продукции
              else
                li.main-nav__item.main-nav__item--catalog-page
                  a.main-nav__link(href='catalog.html') Каталог продукции

              if pageId === 'js-formPage'
                li.main-nav__item.main-nav__item--form-page.main-nav__item--current-page
                  a.main-nav__link Подбор программы
              else
                li.main-nav__item.main-nav__item--form-page
                  a.main-nav__link(href='form.html') Подбор программы

//- add page footer
//- +pageFooter(js_page_id)
mixin pageFooter(pageId)
  if pageId == 'js-indexPage'
    footer.page-footer.page-footer--index-page
      .page-footer__wrapper
        section.page-footer__contacts.footer-contacts
          .footer-contacts__container
            .footer-contacts__text-container
              h2.footer-contacts__title
                | Приглашаем к сотрудничеству дилеров!
              p.footer-contacts__text
                | ул.Большая&nbsp;
                br
                | Конюшенная, д. 19/8
                span.footer-contacts__city
                  | Санкт-Петербург

            .footer-contacts__map-container
              iframe.contacts__map-interactive(
                src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.5991043651586!2d30.320894616097!3d59.938794181876254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2sBolshaya%20Konyushennaya%20St%2C%2019%2C%20Sankt-Peterburg%2C%20Russia%2C%20191186!5e0!3m2!1sen!2snl!4v1596738254793!5m2!1sen!2snl',
                width='320',
                height='363',
                frameborder='1',
                allowfullscreen='true'
              )

        section.page-footer__social.footer-social
          .footer-social__wrapper
            a.footer-social__main-page-link(href='index.html')
              img.footer-social__main-page-link-img(
                src='/img/content_svg/logo_footer.svg',
                width='128',
                height='24',
                alt='Логотип Cat Energy'
              )

            ul.footer-social__list
              li.footer-social__item
                a.footer-social__link(href='#')
                  +svgSpriteIcon('icon_vk_mobile', 22, 12, 'footer-social__icon footer-social__icon--vk', 'Иконка Вконтакте')
              li.footer-social__item
                a.footer-social__link(href='#')
                  +svgSpriteIcon('icon_instagram_mobile', 16, 16, 'footer-social__icon footer-social__icon--instagram', 'Иконка Инстаграмма')
              li.footer-social__item
                a.footer-social__link(href='#')
                  +svgSpriteIcon('icon_facebook_mobile', 10, 19, 'footer-social__icon footer-social__icon--facebook', 'Иконка Фейсбука')

            a.footer-social__copyright(href='#')
              span.footer-social__copyright-text
                | HTML Academy
              +svgSpriteIcon('HTMLAcademy_logo_footer', 27, 34, 'footer-social__copyright-icon', 'Логотип HTML Academy')

  else
    footer.page-footer
      .page-footer__wrapper
        section.page-footer__contacts.footer-contacts
          .footer-contacts__container
            .footer-contacts__text-container
              h2.footer-contacts__title
                | Приглашаем к сотрудничеству дилеров!
              p.footer-contacts__text
                | ул.Большая&nbsp;
                br
                | Конюшенная, д. 19/8
                span.footer-contacts__city
                  | Санкт-Петербург

            .footer-contacts__map-container
              iframe.contacts__map-interactive(
                src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.5991043651586!2d30.320894616097!3d59.938794181876254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2sBolshaya%20Konyushennaya%20St%2C%2019%2C%20Sankt-Peterburg%2C%20Russia%2C%20191186!5e0!3m2!1sen!2snl!4v1596738254793!5m2!1sen!2snl',
                width='320',
                height='363',
                frameborder='1',
                allowfullscreen='true'
              )

        section.page-footer__social.footer-social
          .footer-social__wrapper
            a.footer-social__main-page-link(href='index.html')
              img.footer-social__main-page-link-img(
                src='/img/content_svg/logo_footer.svg',
                width='128',
                height='24',
                alt='Логотип Cat Energy'
              )

            ul.footer-social__list
              li.footer-social__item
                a.footer-social__link(href='#')
                  +svgSpriteIcon('icon_vk_mobile', 22, 12, 'footer-social__icon footer-social__icon--vk', 'Иконка Вконтакте')
              li.footer-social__item
                a.footer-social__link(href='#')
                  +svgSpriteIcon('icon_instagram_mobile', 16, 16, 'footer-social__icon footer-social__icon--instagram', 'Иконка Инстаграмма')
              li.footer-social__item
                a.footer-social__link(href='#')
                  +svgSpriteIcon('icon_facebook_mobile', 10, 19, 'footer-social__icon footer-social__icon--facebook', 'Иконка Фейсбука')

            a.footer-social__copyright(href='#')
              span.footer-social__copyright-text
                | HTML Academy
              +svgSpriteIcon('HTMLAcademy_logo_footer', 27, 34, 'footer-social__copyright-icon', 'Логотип HTML Academy')

//- include SVG's from SVG-sprite
//- +svgSpriteIcon('name', width, height, 'BEMclass', 'title')
mixin svgSpriteIcon(name, width, height, BEMclass, title)
  svg(class="sprite sprite__" + name + " " + BEMclass, width=width, height=height)
    title= title
    use(href="img/sprite/sprite.svg#" + name)

//- create new item in catalog__list
//- +catalogItem(imgNumber, 'Name', volume, 'taste', price)
mixin catalogItem(imgNumber, name, volume, taste, price, hidden)
  if hidden
    li.catalog__item.catalog__item--hidden
      a.catalog__item-image-container(href='#')
        picture
          source(
            media='(min-width: 1200px)',
            srcset=`/img/content_img/catalog-${imgNumber}-desktop.webp`,
            type='image/webp'
          )
          source(
            media='(min-width: 1200px)',
            srcset=`/img/content_img/catalog-${imgNumber}-desktop.png`
          )
          source(
            media='(min-width: 768px)',
            srcset=`/img/content_img/catalog-${imgNumber}-tablet.webp`,
            type='image/webp'
          )
          source(
            media='(min-width: 768px)',
            srcset=`/img/content_img/catalog-${imgNumber}-tablet.png`
          )
          source(
            srcset=`/img/content_img/catalog-${imgNumber}-mobile.webp`,
            type='image/webp'
          )
          img.catalog__item-image(
            src=`/img/content_img/catalog-${imgNumber}-mobile.jpg`,
            width='140',
            height='144',
            alt='Изображение продукта'
          )
      a.catalog__item-name-container(href='#')
        h3.catalog__item-name= `Cat Energy ${name}`
      table.catalog__item-table
        tr.catalog__table-row
          td.catalog__table-cell.catalog__table-cell--property Объём
          td.catalog__table-cell.catalog__table-cell--value= `${volume} г.`
        tr.catalog__table-row
          td.catalog__table-cell.catalog__table-cell--property Вкус
          td.catalog__table-cell.catalog__table-cell--value= taste
        tr.catalog__table-row
          td.catalog__table-cell.catalog__table-cell--property Цена
          td.catalog__table-cell.catalog__table-cell--value= `${price} Р.`
      .catalog__button-wrapper
        button.button.catalog__button.catalog__button--order(type='button')
          | Заказать
  else
    li.catalog__item
      a.catalog__item-image-container(href='#')
        picture
          source(
            media='(min-width: 1200px)',
            srcset=`/img/content_img/catalog-${imgNumber}-desktop.webp`,
            type='image/webp'
          )
          source(
            media='(min-width: 1200px)',
            srcset=`/img/content_img/catalog-${imgNumber}-desktop.png`
          )
          source(
            media='(min-width: 768px)',
            srcset=`/img/content_img/catalog-${imgNumber}-tablet.webp`,
            type='image/webp'
          )
          source(
            media='(min-width: 768px)',
            srcset=`/img/content_img/catalog-${imgNumber}-tablet.png`
          )
          source(
            srcset=`/img/content_img/catalog-${imgNumber}-mobile.webp`,
            type='image/webp'
          )
          img.catalog__item-image(
            src=`/img/content_img/catalog-${imgNumber}-mobile.jpg`,
            width='140',
            height='144',
            alt='Изображение продукта'
          )
      a.catalog__item-name-container(href='#')
        h3.catalog__item-name= `Cat Energy ${name}`
      table.catalog__item-table
        tr.catalog__table-row
          td.catalog__table-cell.catalog__table-cell--property Объём
          td.catalog__table-cell.catalog__table-cell--value= `${volume} г.`
        tr.catalog__table-row
          td.catalog__table-cell.catalog__table-cell--property Вкус
          td.catalog__table-cell.catalog__table-cell--value= taste
        tr.catalog__table-row
          td.catalog__table-cell.catalog__table-cell--property Цена
          td.catalog__table-cell.catalog__table-cell--value= `${price} Р.`
      .catalog__button-wrapper
        button.button.catalog__button.catalog__button--order(type='button')
          | Заказать

//- create new item in additional__list
//- +additionalItem('name', 'volume', price)
mixin additionalItem(name, volume, price)
  li.additional-items__item
    a.additional-items__item-name-link(href='#')
      h3.additional-items__item-name= name
    table.additional-items__item-table
      tr.additional-items__table-row
        td.additional-items__table-cell= volume
        td.additional-items__table-cell= `${price} Р.`
    button.button.additional-items__button(type='button')
      | Заказать
